@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevents iOS from zooming in on inputs while keeping the UI clean */
@media screen and (max-width: 768px) {
  input, select, textarea {
    font-size: 16px !important;
  }
}